<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmisionesServlet</servlet-name>
        <servlet-class>controlador.EmisionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>controlador.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoTServlet</servlet-name>
        <servlet-class>controlador.TipoTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TelefonosServlet</servlet-name>
        <servlet-class>controlador.TelefonosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompaniServelet</servlet-name>
        <servlet-class>controlador.CompaniServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramaRadioServlet</servlet-name>
        <servlet-class>controlador.ProgramaRadioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajadoresServlet</servlet-name>
        <servlet-class>controlador.TrabajadoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsorciosServlet</servlet-name>
        <servlet-class>controlador.ConsorciosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadioServlet</servlet-name>
        <servlet-class>controlador.RadioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargosServlet</servlet-name>
        <servlet-class>controlador.CargosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramaServlet</servlet-name>
        <servlet-class>controlador.ProgramaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmisionesServlet</servlet-name>
        <url-pattern>/emisiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/genero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoTServlet</servlet-name>
        <url-pattern>/tipot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TelefonosServlet</servlet-name>
        <url-pattern>/telefonos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompaniServelet</servlet-name>
        <url-pattern>/compani</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramaRadioServlet</servlet-name>
        <url-pattern>/programaradio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajadoresServlet</servlet-name>
        <url-pattern>/trabajadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsorciosServlet</servlet-name>
        <url-pattern>/consorcios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadioServlet</servlet-name>
        <url-pattern>/radio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargosServlet</servlet-name>
        <url-pattern>/cargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramaServlet</servlet-name>
        <url-pattern>/programa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
